<h1>Search for a movie:</h1>
<%= simple_form_for :search, url: movies_path, :method => 'get' do |f| %>
  <%= f.input :query, :placeholder => 'Movie title', input_html: { name: :query }, label: false %>
  <%= f.button :submit, "Submit" %>
<% end %>